.section3-layout {
    display: flex;
    margin-left: 165px;
    margin-bottom: 159px;
}

.section3-leftside h1 {
    color: #1B1D23;
    font-family: League Spartan;
    font-size: 72px;
    font-style: normal;
    font-weight: 700;
    line-height: 64px;
    letter-spacing: -2px;
    margin-right: 235px;
}

.row {
    display: flex;
}