.footer {
    width: 100vw;
    background-color: #EEEFF4;
    height: 350px;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    position: absolute;

}

.footer-links {
    width: 100vw;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.footer-links a {
    margin-bottom: 32px;
    text-decoration: none;
    color: #7D828F;
    font-size: 18px;
    font-weight: 700;
}

.first-link {
    margin-top: 93px;
  }

.footer-button {
    width: 252px;
    height: 72px;
    background-color: #1B1D23;
}

.footer-button a {
    color: #FFF;
    font-size: 18px;
    font-weight: 700;
    text-decoration: none;

}