.hero2-section-desktop {
    display: none;
}

.hero2-section {
    width: 100vw;
    height: auto;
    position: relative;
}

.hero2-section img {
    width: 100%;
    height: 560px;
    object-fit: cover; 
    filter: brightness(50%);
}

.overlay-text2 {
    position: absolute;
    color: white;
    z-index: 1;
}

.overlay-text2 h2 {
    color: #FFF;
    font-size: 48px;
    font-weight: 700;
    line-height: 52px;
    margin-top: 182px;
    margin-left: 32px;
    margin-bottom: 23px;
}

@media (min-width: 1025px)  {
    .hero2-section {
        display: none;
    }

    .hero2-section-desktop {
        display: block;
        height: auto;
        position: relative;
        margin-left: 165px;
        margin-bottom: 207px;
    }

    .hero2-section-desktop img {
        width: 1110px;
        height: 560px;
        object-fit: cover; 
        filter: brightness(50%);

    }

    .overlay-text2-desktop { 
        position: absolute;
        color: white;
        z-index: 1;
    }

    .overlay-text2-desktop h2 {
        margin-left: 190px;
        margin-top: 167px;
        margin-bottom: 27px;
        color: #FFF;
        font-size: 72px;
        font-weight: 700;
        line-height: 64px;
        letter-spacing: -2px;
    }

    .button1-desktop {
        width: 187px;
        height: 72px;
        background-color: #1B1D23;
        display: flex;
        justify-content: center;
        align-items: center;
        margin-left: 190px;
        cursor: pointer;
        
    }

    .button1-desktop:hover {
        background: #60636D;
    }

    .button1-desktop a {
        color: #FFF;
        text-align: right;
        text-decoration: none;
        font-size: 18px;
        font-weight: 700;
        line-height: 25px;
    }
}

