.hamburger-menu {
    display: flex;
    justify-content: space-between;
    max-width: 1000px;
    width: 100%;
    position: relative;
}

.hamlogo {
    margin-top: 32px;
    margin-left: 32px;
    width: 77px;
    height: 32.028px;
    margin-bottom: 32px;
}

.hamburger {
    margin-top: 40px;
    margin-right: 32px;
    width: 24px;
    height: 17px;

}

.menu {
    position: absolute;
    top: 100px; 
    right: 0;
    background: #EEEFF4;
    border-radius: 8px;
    z-index: 5;
    width: 343px;
    height: 235px;
    padding-top: 38px;
    box-shadow: 0px 20px 30px 5px rgba(0,0,0,0.5);

}

.menu a {
    display: block;
    text-decoration: none;
    color: #1B1D23;
    font-size: 32px;
    font-weight: 700;
    line-height: 40px;
    margin-left: 48px;
    margin-bottom: 17px;
}


@media screen and (min-width: 1024px) {
    .hamburger-menu {
        display: none;
    }
}