.box-layout-desktop {
    display: none;
}

.portfolio-layout-desktop {
    display: none;
}

.portfolio-layout {
    width: 100vw;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}



.portfolio-box {
    position: relative; 
    display: flex;
    justify-content: center;
    width: 375px;
    margin-bottom: 24px;
    position: relative;
}

.portfolio-box img {  
    filter: brightness(50%)
}

.portfolio-box h1 {
    position: absolute;
    top: 65%;
    left: 15%;
    color: white;
    z-index: 5;
}


.portfolio-box p {
    position: absolute;
    top: 79%;
    left: 15%;
    color: white;
    color: #FFF;
    font-size: 18px;
    font-weight: 500;
    z-index: 5;
    filter: brightness(80%);
}

.portfolio-box a {
    position: absolute;
    top: 79%;
    left: 15%;
    color: white;
    color: #FFF;
    font-size: 18px;
    font-weight: 500;
    z-index: 5;
    filter: brightness(80%);
    text-decoration: none;
} 

@media (min-width: 1025px)  {

    .box-layout-desktop {
        display: block;
    }
    
    .portfolio-layout-desktop {
        display: block;
    }

    .portfolio-layout {
        display: none;
    }
    
    .portfolio-layout-desktop {
        display: block;
    }

    .box-layout {
        display: none;
    }

    .portfolio-layout-dekstop {
        width: 100vw;
        display: flex;
        justify-content: center;
        align-items: center;
        flex-direction: column;
    }
    
    .portfolio-box-desktop {
        display: flex;
        justify-content: center;
        position: relative;
        margin-right: 30px;
        margin-bottom: 32px;
    }
    
    .portfolio-box-desktop img {  
        filter: brightness(50%)
    }
    
    .portfolio-box-desktop h1 {
        position: absolute;
        top: 84%;
        left: 15%;
        color: white;
        z-index: 5;
    }
    
    
    .portfolio-box-desktop p {
        position: absolute;
        top: 79%;
        left: 15%;
        color: white;
        color: #FFF;
        font-size: 18px;
        font-weight: 500;
        z-index: 5;
        filter: brightness(80%);
    }
    
    .portfolio-box-desktop a {
        position: absolute;
        top: 90%;
        left: 15%;
        color: white;
        color: #FFF;
        font-size: 18px;
        font-weight: 500;
        z-index: 5;
        filter: brightness(80%);
        text-decoration: none;
    } 

    .box-layout-desktop {
        margin-left: 166px;
        width: 100vw;
        margin-bottom:128px;
    }

    .box-row-desktop {
        display: flex;
        width: 100vw;
    }
    


}